:root {
  --white: #fff;
  --blue: #4b84fe;
  --colorDark: #1b253d;
  --colorLight: #99a0b0;
  --red: #fa5b67;
  --bg: #e8e8e8;
  --bgDark: #dfdfdf;
}

.sidebar {
  overflow: hidden;
  font-size: 16px;
  line-height: 60%;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  box-shadow: 0 14px 28px rgba(69, 126, 249, 0.2);
}

.menu-wrap {
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid var(--bgDark);
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 14px 28px rgba(69, 126, 249, 0.2);
}

.menu-wrap .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 1.5em 3em;
}

.menu-wrap .user .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.menu-wrap .user .user-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrap .user figcaption {
  margin: 0;
  padding: 0 0 0 1em;
  color: var(--colorDark);
  font-weight: 700;
  font-size: 0.875em;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-wrap nav {
  display: block;
  padding: 0 3em;
  flex: 1;
}

.menu-wrap nav section {
  display: block;
  padding: 1.5em 0 0;
}

.menu-wrap nav h3 {
  display: flex;
  justify-content: flex-start;
  font-size: 0.87rem;
  text-transform: uppercase;
  color: var(--blue);
}

.menu-wrap nav ul {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-wrap nav li {
  display: block;
  padding: 0;
  margin: 1em 0 0;
}

.menu-wrap nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--colorLight);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875em;
  transition: color 0.15s ease;
  cursor: pointer;
}

.menu-wrap nav li a svg {
  display: block;
  margin-right: 1em;
}

.menu-wrap li a svg path, .menu-wrap li a svg path {
  fill: var(--colorLight);
  transition: fill .3s ease;
}

.menu-wrap nav li a:hover {
  color: var(--colorDark);
}

.menu-wrap nav li a:hover svg path,
.menu-wrap nav li a:hover svg circle {
  fill: var(--colorDark);
}

.menu-wrap nav li a.active {
  color: var(--blue);
}

.menu-wrap nav li a.active svg path,
.menu-wrap nav li a.active svg circle {
  fill: var(--blue);
}