@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.profilecontainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(69, 126, 249, 0.25),
        0 10px 10px rgba(69, 126, 249, 0.22);
    overflow: hidden;
    width: auto;
    min-height: 73%;
    padding-top: 30px;
    position: fixed;
    left: 300px;
    right: 70px;
    top: 125px;
    bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profilecontainer .profile-img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 60px;
    grid-column: 1 / 2;
    border-radius: 50%;
    overflow: hidden;
}

.profilecontainer .profile-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilecontainer .profile {
    grid-column: 2 / 3;
}

.profilecontainer input {
    border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 350px;
	border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.profilecontainer label {
    padding-right: 40px;
    margin-bottom: 5px;
    color: #4b84fe;
}

.profilecontainer .profile input {
	background-color: #eee;
}

.profilecontainer .editProfile input,
.profilecontainer input.readonly-input
 {
    border: none;
	background-color: #fff;
}

.profilecontainer .editProfile input:focus,
.profilecontainer .readonly-input {
	outline: none;
}

.profilecontainer h1.profileheading {
    font-weight: bold;
    margin-bottom: 20px;
    color: #4b84fe;
}

.profilecontainer .editProfileBtn {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #4b84fe;
    background: #4b84fe;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100px;
    margin-top: 20px;
}

.editProfileBtn:hover {
    border: 2px solid rgb(69, 126, 249);
    color: rgb(69, 126, 249);
    background: #fff;
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(69, 126, 249, 0.3);
}

.profileSelectForm {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}