.addprojcontainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(69, 126, 249, 0.25),
      0 10px 10px rgba(69, 126, 249, 0.22);
    overflow: hidden;
    width: auto;
    min-height: 73%;
    padding-top: 27px;
    position: fixed;
    left: 300px;
    right: 70px;
    top: 125px;
    bottom: 70px;
  }
  
  .addprojcontainer .addProj {
    grid-column: 1 / 2;
    margin-left: auto;
    margin-right: auto;
  }
  
  .addprojcontainer h1.addprojheading {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
    color: #4b84fe;
    margin-left: auto;
    margin-right: auto;
  }
  
  .addprojcontainer label {
    color: #4b84fe;
    text-align: left;
    justify-content: start;
  }
  
  .addprojcontainer input,
  .addprojcontainer textarea {
    width: 92%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  .addprojcontainer textarea {
    height: 147px;
    resize: none;
  }
  
  .addprojcontainer .addProj input,
  .addprojcontainer .addProj textarea {
    background-color: #eee;
  }
  
  .addprojcontainer input:focus,
  .addprojcontainer textarea:focus {
    outline: none;
  }
  
  .addprojcontainer .addProjBtn {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #4b84fe;
    background: #4b84fe;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100px;
    margin-top: 10px;
  }
  
  .addprojcontainer .addProjBtn:hover {
    border: 2px solid rgb(69, 126, 249);
    color: rgb(69, 126, 249);
    background: #fff;
    cursor: pointer;
    box-shadow: 0 15px 25px rgba(69, 126, 249, 0.3);
  }